[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
markdown = "*"
pickleshare = "*"
black = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
psutil = "*"
networkx = "*"
tqdm = "*"
colorama = "*"
simplejson = "*"
pandas = "*"
pyyaml = "*"
werkzeug = "*"
moviepy = "*"
cffi = "*"
plotly = "*"
protobuf = "*"
scikit-learn = "*"
wandb = "*"
optuna = "*"
torch = "*"
torchvision = "*"
torchtext = "*"
pytorch-lightning = "*"
lightning = "*"
tensorboardx = "*"
tensorboard = "*"
torch-tb-profiler = "*"
pytorch-ignite = "*"
opencv-python = "*"
spacy = "*"
autorom = "*"
ale-py = "*"
dm-acme = "*"
dm-control = "*"
gym = "*"
stable-baselines = "*"
jaxlib = "*"
jupyterlab = "*"
jax = "*"
numpy = "*"
shapely = "*"
celery = "*"
huggingface-hub = "*"
xformers = "*"
l5kit = "*"

[dev-packages]

[requires]
python_version = "3.8"
